.footer {
    &__line {
        border-bottom: 2px solid $dark-color;
    }

    &__container {
        display: flex;
        height: 120px;

        &__elements {
            display: inherit;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h2 {
                font-size: 28px;
                font-weight: 700;
                letter-spacing: 1.2px;
            }

            table td {
                padding: 4px 15px;

                a {
                    font-weight: 500;
                    color: $grey-color;
                    transition: 0.15s linear;

                    &:hover {
                        color: $white-color;
                    }
                }
            }

            & > div {
                display: flex;
                gap: 15px;
                height: 40px;

                a {
                    svg {
                        width: 40px;
                        height: 40px;

                        &:hover {
                            path {
                                transition: $duration linear;
                                fill: $white-color;
                            }
                        }
                    }
                }

                a:nth-child(2) svg {
                    transform: translateY(2px);
                }
            }
        }
    }
}
