.header__shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
    background: linear-gradient(
        0deg,
        rgba(15, 15, 15, 0) 0%,
        rgb(20, 20, 20) 100%
    );
    z-index: 1;
}

.header {
    position: relative;
    width: 100%;
    z-index: 999;

    &__content {
        height: 60px;
        width: 1280px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        &__nav {
            display: flex;
            text-align: center;
            align-items: center;

            h1 {
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 1.2px;
            }

            nav {
                padding-left: 50px;

                ul {
                    display: flex;
                    column-gap: 25px;
                    align-items: center;

                    li a {
                        color: $grey-color;
                        transition: $duration linear;
                        font-size: 16px;

                        &:hover {
                            color: $white-color;
                        }
                    }
                    .active {
                        color: $white-color !important;
                        text-decoration: underline;
                        text-underline-offset: 4px;
                    }
                }
            }
            .header__buttons {
                display: flex;
                gap: 15px;
            }
        }
    }
}
