
$main-bg-color: #0e0e10;
$white-color: #f2f2f5;
$black-color: #000000;
$grey-color: #a6a6a6;
$light-grey-color: #cfcbcb;
// $border-color: #3f3e3e;
$border-color: #515050;
$dark-color: #2e2c2d;

//hover
$white-color--hover: #dfdddd;
$dark-color--hover: #393838;

//anim
$duration: 0.15s;
