@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $white-color;
}

body {
    background-color: $main-bg-color;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    font-weight: 500;
    padding: 0 16px;
    border-radius: 10px;
    font-size: 14px;
    height: 35px;
    transition: $duration linear;
}

.btn__with__img {
    display: flex;
    transition: 0.15s linear;
    justify-content: center;
    align-items: center;

    p {
        font-size: 15px;
        padding-left: 6px;
        color: inherit;
        font-weight: inherit;
    }

    img {
        width: 16px;
        height: 16px;
    }
}

.black {
    background-color: $dark-color;
}
.black:hover {
    background-color: $dark-color--hover;
}

.white {
    color: $black-color;
    background-color: $white-color;
}
.white:hover {
    background-color: $white-color--hover;
}

.btn-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    img {
        width: 16px;
        height: 16px;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $main-bg-color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $dark-color;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $grey-color;
}


.custom-next-arrow,
.custom-prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.custom-next-arrow {
    right: 10px; /* Расположить справа */
}

.custom-prev-arrow {
    left: 10px; /* Расположить слева */
}
